<div class="container">
    <div class="row justify-content-center">
        <h3 class="col-md-2">Sign Up Form</h3>
    </div>
    

    <div class="row justify-content-center">
        <form #signup="ngForm" (ngSubmit)="submit(signup)" class="col-md-8"> 
            <div *ngFor="let field of fields" class="form-group" [class]="field.class">
                    <app-form-field [field]="field" ></app-form-field>
            </div>
            <div *ngFor="let button of buttons" class="button-container">
                <app-form-button [button]="button" ></app-form-button>
            </div>    
        </form>    
    </div>

</div>
